In [1]:
import numpy as np
import pandas as pd

# Задание 1

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
ratings.value_counts(['movieId','rating']).head()

movieId  rating
318      5.0       153
296      5.0       123
356      5.0       116
2571     5.0       109
260      5.0       104
dtype: int64

# Задание 2

In [8]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
#Estonia
data[ data['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [10]:
#Latvia
data[ data['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [11]:
#Lithuania
data[ data['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [31]:
#baltic states
cond1 = (data['country']=='Latvia') | (data['country']=='Estonia') | (data['country']=='Lithuania')
#category 4, 12, 21
cond2 = (data['category']== 4) | (data['category']== 12) | (data['category']== 21)
#year between 2005 and 2010
cond3 = (data['year'] >= 2005) & (data['year']<= 2010) 
#quantity >= 0 
cond4 = (data['quantity'] >= 0)

In [32]:
data_new = data[cond1 & cond2 & cond3 & cond4]

In [34]:
data_new.quantity.sum()

240580.0

# Задание 3

In [74]:
page_url = 'https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%80%D0%B0%D0%B7%D0%BB%D0%B8%D0%B2%D0%BE%D0%B2_%D0%BD%D0%B5%D1%84%D1%82%D0%B8'
f = pd.read_html(page_url, match = 'Mid-Valley Pipeline')

In [86]:
df = pd.DataFrame(f[0])

In [87]:
df

,Название/ Судно,Расположение,Даты,Мин. тонн,Макс. тонн,Ссылка
0,Mid-Valley Pipeline,"США, Луизиана, Mooringsport",13 октября 2014,NaN,NaN,[1]
1,Lake Michigan oil spill,"США, Индиана, Whiting refinery",24 марта 2014,NaN,NaN,[2][3][4]
2,MV Miss Susan/MV Summer Wind,"США, Техас, Хьюстонский судоходный канал",22 марта 2014,NaN,NaN,[5][6]
3,North Dakota pipeline spill,"США, Северная Дакота, Hiland",21 марта 2014,NaN,NaN,[7]
4,North Dakota train collision,"США, Северная Дакота, Casselton",30 декабря 2013,NaN,NaN,[8]
...,...,...,...,...,...,...
139,en:Guadalupe Oil Field,"США, Гуадалупе, Калифорния",1950-е — 1994,NaN,NaN,[147]
140,"Greenpoint, Brooklyn oil spill","США, en:Newtown Creek, Гринпойнт, Нью-Йорк (штат)",1940-е — 1950-е,NaN,NaN,[148]
141,Столкновение en:SS Frank H. Buck / SS Presiden...,"США, Сан-Франциско (залив), Калифорния",6 марта 1937,NaN,NaN,[142][149]
142,en:Lakeview Gusher,"США, Керн (округ)",14 марта 1910 — 10.09.1911,NaN,NaN,[150]
143,Thomas W. Lawson,"Великобритания, Силли",14 декабря 1907,NaN,NaN,NaN